.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.left {
  text-align: left
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  font-family: 'Josefin Sans', sans-serif;
}

.colume{
    border-radius: 25px;
    border: 2px solid rgba(63, 179, 59, 0.863);
    padding: 20px; 
    width: 300px;
    height: 300px; 
    margin: 10px;   
    background-color:rgba(255, 217, 0, 0.378)
}
nav{
  background-color: #FFEB00;
  opacity: 0.85;
  width:100%;
  padding: 15px;
  
}

nav a {

  color: #009C48;
  font-weight: bolder;
}

a:hover {

  color: green;
  text-decoration: none;
}
#calender{
  margin-top: 40px
}
.appCC{
  padding: 30px;
  text-align: center;
  color:  rgba(63, 179, 59, 0.863);
  font-weight: bold;
}
.dayCC{
  padding: 20px;
  margin-bottom: 15px;
  text-align: center;
  color:  rgba(63, 179, 59, 0.863);
  font-weight: bold;
}
.row{
  padding-top: 40px;
}
button{
  background-color:  rgba(63, 179, 59, 0.763);
  border: none;
  color:rgba(255, 217, 0, 0.878);
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size:20px;
  border-radius: 5px;
}


.nav-links {

  float: right;
  padding: 30px;
  padding-top: 5px;
  padding-left: 10px;

}

.link {

  padding: 15px;
  font-size: 21px;

}

.description {

  margin: 100px;

  font-size: 25px;

  color: #009C48;

  font-weight: bold;

  width: 500px;

  text-align: center;
  
}

.landingcenter {


  text-align: center;

}

/* #total{
  background-color:  rgba(63, 179, 59, 0.763);
  color: white;
  border: white;
  font-size:20px;
  border-radius: 5px;
} */
.graph{
  padding: 30px;
  margin: 50px;
}